/*home*/
.header{
	background-color: black;
}
#a11{
  background-color:#FCC821  ;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
#a12{
	 background-color:black;
  color: white;
}
#a13{
	background-color: gray;
	border:gray;
}
#a14:hover{
	background-color:#FCC821;
}
#a15{
	background-color: #FCC821;
	color: black;
}
.navigation{
	background-color: black;
}
#a16{
	background-color: black;
	text-align: center;
	font-size: 28px;
}
#a16:hover{
	background-color: #FCC821;
	color:white;
	border-radius: 3%;
}
#a17{
	color: #FCC821;
}
#a17:hover{
	color:black;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.btn1234{
  background-color:  #FCC821;
  border: none;
  color:black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 5%;
}

.btn1234:hover {
  background-color: black;
  color: #FCC821;
}
a,p,h1,h2,h3,h4,h5,h6, .btn, a, .btn1234 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.bc{
	margin: auto;
}
#btn12345{
  background-color:  #FCC821;
  border: none;
  color:black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 5%;
}

#btn12345:hover {
  background-color: black;
  color: #FCC821;
}
.footer{
	background-color: black;
	color: #FCC821;
	border-color:  #FCC821;
}
.abc, .abcd{
	float: left;
}
/*shop*/
#sortby{
	color: #FCC821;
	background-color: black;
}
#sortby:hover{
	color: black;
	background-color: #FCC821;
}
#b1:hover{

	color: black;
	background-color: #FCC821;

}
#b1:focus{
	color: black;
	background-color: #FCC821;
}
#b1:active{
	color: black;
	background-color:#FCC821 ;
}
a.text-primary:focus, a.text-primary:hover{
	color: #FCC821;
}
#btn123456{
	 background-color:  #FCC821;
	 color:black;
	 border:none;
}
#btn123456:hover{

	color: #FCC821;
	background-color: black;

}
#m1{
	color:#495057 ;
}
#m1:hover{
color: #FCC821;
}
#m1:active{
	color: #495057;
}
a.nav-link{
	color: #FCC821;
	background-color: black;
}
a.nav-link:hover{
	color: black;
	background-color: #FCC821;
}
ul.nav.nav-tabs{
	background-color: black;
	border-radius: 0px;
}
label.custom-control-label::after{
	background-color: #FCC821;
	color: black !important;
}
label.custom-control-label::before{
	
	color:  #FCC821;
}
.custom-control-input:checked~.custom-control-label::before {
	background-color: #FCC821 !important;
	border-color:  #FCC821 !important;
	color: white;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #fcc821;
    background-color: #fcc821;
}
#regForm {
  background-color: #ffffff;
  margin: 60px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  border-radius: 2%;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}


#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  background-color:  #FCC821 ;
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color:  #FCC821 ;
}
button{
	
  background-color:  #FCC821;
  border: none;
  color:black;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 50%;

}
span.price {
  float: right;
  color: grey;
}



